.padding-nombres {
    padding-left: 100px;
}

.padding-anno {
    padding-left: 125px;
}

.padding-genero {
    padding-left: 20px;
}

.padding-paginas {
    padding-left: 90px;
}

.padding-autores {
    padding-left: 82px;
}