<div class="d-flex justify-content-center align-items-center margen-btn-1">
    <div class="me-5">
        <button type="button" class="btn btn-secondary" (click)="listarLibros()">Listar libros</button>
    </div>
    <div class="ms-5">
        <button type="button" class="btn btn-secondary" (click)="listarAutores()">Listar autores</button>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center margen-btn-2">
    <div class="me-5">
        <button type="button" class="btn btn-secondary" (click)="registrarLibro()">Registrar libro</button>
    </div>
    <div class="ms-5">
        <button type="button" class="btn btn-secondary" (click)="registrarAutor()">Registrar autor</button>
    </div>
</div>
